@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200&display=swap');


body{
    background-image: url(/img/diamonds_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.678);
    background-position:  center;
    font-family: 'Noto Serif Display', serif;
    backdrop-filter: blur(3px);
}
.mainColors{
    color: rgb(199, 199, 199);
    text-shadow: 2px 2px 20px #000000;
}
.wrapper{
    width: 999px;
    margin: 0 auto;
}
.massiveText{
    font-size:5rem;
    margin-bottom: 0;
}

/*** Viskas kas liecia navigacija***/
nav{
    background-color: rgba(0, 0, 0, 0.678);
    display: flex;
    justify-content: space-between;
    min-height: 60px;
}
.bi-gem{
    font-size: 3rem;
    padding: 5px;
    color: rgb(199, 199, 199);
    padding-top: 10px;
}
.navMenu{
    display: flex;
    background-color: transparent;
    border-radius: 0 0 10px 10px;
    right: 20px;
}
.linkai{
    background-color: transparent;
    font-size: 1.2rem;
    list-style-type: none;
    padding: 3px;
    transition: 0.7s;
    padding: 0 50px;
    line-height: 40px;

}
li a{
    width: 100px;
    color: rgb(199, 199, 199);
    text-decoration: none;
}
li a:hover{
    color: rgb(255, 255, 255);
}
#burger{
    display: none;
    cursor: pointer;
    font-size: 2rem;
    margin-top: 10px;
}
.bar{
    display: block;
    width: 35px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:rgb(199, 199, 199);
    margin: 8px 10px;
    margin-right: 10px;
    border-radius: 5px;
}
/*** Viskas kas liecia navigacija***/

/***** MAIN  ****/

.carbon1st{
    width: 999px;
    height: 450px;
    background-image: url(img/billions\ year\ ago.png);
    background-size: cover;
}
.carbonP{
    text-align: center;
    font-size: 1.2rem;
    line-height: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 20px #000000;
}



/***** MAIN ****/

/**  history SECTION **/
.pastraipaVienas img{
float: left;
padding: 5px;
}
.pastraipaVienas p{
    padding: 5px;
    line-height: 1.5rem;
}
.pastraipaDu img{
float: right;
padding: 5px;
}
.pastraipaDu p{
    padding: 5px;
    line-height: 1.5rem;
}
.pastraipaTrys img{
float: left;
padding: 5px;
}
.pastraipaTrys p{
    padding: 5px;
    line-height: 1.5rem;
}


.topic{
    color: rgb(199, 199, 199);
    text-shadow: 2px 2px 20px #000000;
}
.mainSection{
    background-color: rgba(131, 130, 130, 0.479);
    min-height: 680px;
}
.topic{
    padding-left: 40px;
}

/**  history SECTION  **/

/*** Gallery ***/
.galleryTopic{
    text-align: center;
    color: rgb(199, 199, 199);
    text-shadow: 2px 2px 20px #000000;
}
.galerija{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(131, 130, 130, 0.479);

}
.nuotrGalDyd{
    width: 199px;
    height: auto;
}

.galerDiv{
height: 250px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.galerDiv p {
    text-align: center;
}
.galerDiv img {
    margin-top: 10px;
}

/**** GALERIJA ****/

/***** ABOUT US *******/


.treciaSekcija h3{
    padding: 5px;
    line-height: 2rem;
}

@media(min-width:769px) {
    .hide{
        display: none;
    }
}

@media(max-width:768px) {

/*** Viskas kas liecia navigacija***/
    #burger{
        display: block;
    }
    .burger.active .bar:nth-child(2){
        opacity: 0;
    }
    .burger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navMenu{
        background-color: rgba(0, 0, 0, 0.678);
        position: fixed;
        right: -120%;
        top: 53px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 00.3s;
    }
    .linkai{
        margin: 16px 0 ;
    }
    .navMenu.active{
        right: 0;
    }
    /*** Viskas kas liecia navigacija***/

    .wrapper{
        width: auto;
        height: auto;
        margin: 0 auto;
}
    .mainSection{
        height: auto;
}
    .carbon1st{
        display: none
}
    .galerija{
        display: grid;
        grid-template-columns: 1fr 1fr;

}
};
